.comments{
    padding: 30px 0;
}

.comment{
    list-style-type: none;
    border: 2px solid var(--text-color);
    margin: 10px auto;
    padding: 10px;
    border-radius: 3px;
}

.comment-header{
    display: flex;
}

.img-avatar{
    margin-left: 5px;
}

.comment-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.name-author{
    color: var(--text-color) !important;
}

.comment-date{
    font-size: 1.4rem;
}

.comment-body{
    border: 2px solid var(--extra-color);
    border-radius: 2px;
    padding: 5px;
    margin: 10px 5px;
    font-size: medium;
}

.btn-enable{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-enable:hover{
    color: var(--text-color);
}

.btn-disable{
    background-color: var(--text-color);
    color: var(--white-color);
}

.btn-disable:hover{
    color: var(--primary-color);
}

.button-control{
    margin-left: 5px;
}

.badge{
    display: inline-block;
    padding: 7px 10px;
    margin: 10px 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1rem;
}

.bg-sadness{
    background-color: #214F9A;
}
.bg-joy{
    background-color: #F2A40B;
}
.bg-love{
    background-color: #de6178;
}
.bg-anger{
    background-color: #AE2223;
}
.bg-fear{
    background-color: #903F8E;
}
.bg-surprise{
    background-color: #0D8F4A;
}